openapi: 3.0.1
info:
  description: Learn with Grok API
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: OpenAPI Grok
  version: 1.0.0
servers:
- url: http://learn-with-grok.swagger.io/
tags:
- description: All endpoints related to translation
  name: translate
- description: All endpoints related to excerpts
  name: excerpt
paths:
  /sentence_tokenize:
    post:
      operationId: sentence_tokenize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Excerpt'
        description: Excerpt of text
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Tokenize an excerpt into sentences
      tags:
      - excerpt
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.excerpt_controller
  /translate:
    post:
      operationId: translate_text
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslatedText'
        description: Translated Text
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Translate a sentence
      tags:
      - translate
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.translate_controller
components:
  schemas:
    TranslatedText:
      description: Translated text
      example:
        text: Hello World!
        source: ES
        target: GB
      properties:
        text:
          example: Hello World!
          type: string
        source:
          example: ES
          type: string
        target:
          example: GB
          type: string
      required:
      - text
      title: Translated Text
      type: object
    Excerpt:
      description: Excerpt of text
      example:
        language: GB
        excerpt: Hello World! My name is Craig.
      properties:
        excerpt:
          example: Hello World! My name is Craig.
          type: string
        language:
          example: GB
          type: string
      required:
      - excerpt
      title: Excerpt of text
      type: object
    ApiResponse:
      description: Generic API response
      title: A generic response
      type: object
