openapi: 3.0.1
info:
  description: Learn with Grok API
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: OpenAPI Grok
  version: 1.0.0
servers:
- url: http://learn-with-grok.swagger.io/
tags:
- description: All endpoints related to translation
  name: translate
- description: All endpoints related to excerpts
  name: excerpt
- description: All endpoints related to user
  name: user
paths:
  /sentence_tokenize:
    post:
      operationId: sentence_tokenize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Excerpt'
        description: Excerpt of text
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Tokenize an excerpt into sentences
      tags:
      - excerpt
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.excerpt_controller
  /translate:
    post:
      operationId: translate_text
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslatedText'
        description: Translated Text
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Translate a sentence
      tags:
      - translate
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.translate_controller
  /user/fetch:
    post:
      description: Get the current user
      operationId: fetch_user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Get the current user
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/login:
    post:
      description: Log in to grok
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInfo'
        description: Created user object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Login user
      tags:
      - user
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/logout:
    post:
      description: Log out of grok
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Log out user
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/signup:
    post:
      description: This can only be done by the logged in user.
      operationId: create_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: Created user object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Create user
      tags:
      - user
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_controller
components:
  schemas:
    TranslatedText:
      description: Translated text
      example:
        text: Hello World!
        source: ES
        target: GB
      properties:
        text:
          example: Hello World!
          type: string
        source:
          example: ES
          type: string
        target:
          example: GB
          type: string
      required:
      - text
      title: Translated Text
      type: object
    Excerpt:
      description: Excerpt of text
      example:
        language: GB
        excerpt: Hello World! My name is Craig.
      properties:
        excerpt:
          example: Hello World! My name is Craig.
          type: string
        language:
          example: GB
          type: string
      required:
      - excerpt
      title: Excerpt of text
      type: object
    User:
      description: Contains Email, Username, password, re-entered password and signup
        form data
      title: User object
      type: object
    LoginInfo:
      description: Username and password
      example:
        password: hunter42
        email: user1
      properties:
        email:
          example: user1
          type: string
        password:
          example: hunter42
          type: string
      required:
      - email
      - password
      title: Login Info
      type: object
    ApiResponse:
      description: Generic API response
      title: A generic response
      type: object
