openapi: 3.0.1
info:
  description: Learn with Grok API
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: OpenAPI Grok
  version: 1.0.0
servers:
- url: http://learn-with-grok.swagger.io/
tags:
- description: All endpoints related to translation
  name: translate
- description: Access to Petstore orders
  name: store
- description: Operations about user
  name: user
paths:
  /translate:
    post:
      operationId: translate_text
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslatedText'
        description: Translated Text
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Translate a sentence
      tags:
      - translate
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.translate_controller
components:
  schemas:
    TranslatedText:
      description: Translated text
      example:
        text: Hello World!
      properties:
        text:
          example: Hello World!
          type: string
      required:
      - text
      title: Translated Text
      type: object
    ApiResponse:
      description: Generic API response
      title: A generic response
      type: object
