openapi: 3.0.1
info:
  description: Learn with Grok API
  license:
    name: Apache-2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
  title: OpenAPI Grok
  version: 1.0.0
servers:
- url: http://learn-with-grok.swagger.io/
tags:
- description: All endpoints related to translation
  name: translate
- description: All endpoints related to excerpts
  name: excerpt
- description: All endpoints related to user
  name: user
- description: All endpoints related to story
  name: story
- description: All endpoints related to the library
  name: library
paths:
  /library/fetch:
    post:
      description: Fetch the library for the current user
      operationId: fetch_library
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LibraryRequest'
        description: Contains the Library Requesy
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Fetch the library for the current user
      tags:
      - library
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.library_controller
  /sentence_tokenize:
    post:
      operationId: sentence_tokenize
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Excerpt'
        description: Excerpt of text
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Tokenize an excerpt into sentences
      tags:
      - excerpt
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.excerpt_controller
  /story/answer:
    post:
      description: This can only be done by the logged in user.
      operationId: answer
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Answer'
        description: Answer to multiple choice question
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Update user score when a correct answer is selected
      tags:
      - story
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.story_controller
  /story/attempt/fetch:
    post:
      description: Fetch all attempts by user for a story
      operationId: fetch_attempts
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBody'
        description: Short story translation id to create a new attempt
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Fetch all attempts by user for a story
      tags:
      - story
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.story_controller
  /story/attempt/new:
    post:
      description: Create a new attempt to retry a story
      operationId: new_attempt
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBody'
        description: Short story translation id to create a new attempt
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Create a new attempt to retry a story
      tags:
      - story
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.story_controller
  /text_to_speech:
    post:
      operationId: text_to_speech
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GenericBody'
        description: Sentence to sound out
        required: true
      responses:
        "200":
          content:
            '*/*':
              schema:
                $ref: '#/components/schemas/SynthesizeSpeechResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Sound out sentence
      tags:
      - excerpt
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.excerpt_controller
  /translate:
    post:
      operationId: translate_text
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TranslatedText'
        description: Translated Text
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
        "405":
          content: {}
          description: Invalid input
      summary: Translate a sentence
      tags:
      - translate
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.translate_controller
  /user/avatar:
    post:
      description: This can only be done by the logged in user.
      operationId: upload_avatar
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: Contains the user's avatar
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Upload avatar
      tags:
      - user
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/fetch:
    post:
      description: Get the current user
      operationId: fetch_user
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Get the current user
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/login:
    post:
      description: Log in to grok
      operationId: login
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginInfo'
        description: Created user object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Login user
      tags:
      - user
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/logout:
    post:
      description: Log out of grok
      operationId: logout
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Log out user
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/resetPassword:
    post:
      description: Reset Password for current user
      operationId: reset_password
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: New password for user
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Reset Password for current user
      tags:
      - user
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/sendResetPasswordEmail:
    post:
      description: Send Reset Password for current user
      operationId: send_reset_password_email
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: User email to send reset password link
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Send Reset Password for current user
      tags:
      - user
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/sendVerifyEmail:
    post:
      description: Send Verify Email to current user
      operationId: send_verify_email
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Send Verify Email to current user
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/signup:
    post:
      description: This can only be done by the logged in user.
      operationId: create_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: Created user object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Create user
      tags:
      - user
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/update:
    post:
      description: This can only be done by the logged in user.
      operationId: update_user
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/User'
        description: Update user object
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Update user
      tags:
      - user
      x-codegen-request-body-name: body
      x-openapi-router-controller: openapi_server.controllers.user_controller
  /user/verifyEmail:
    post:
      description: Verify Email of current user
      operationId: verify_email
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiResponse'
          description: successful operation
      summary: Verify Email of current user
      tags:
      - user
      x-openapi-router-controller: openapi_server.controllers.user_controller
components:
  schemas:
    TranslatedText:
      description: Translated text
      example:
        text: Hello World!
        source: ES
        target: GB
      properties:
        text:
          example: Hello World!
          type: string
        source:
          example: ES
          type: string
        target:
          example: GB
          type: string
      required:
      - text
      title: Translated Text
      type: object
    Excerpt:
      description: Excerpt of text
      example:
        language: GB
        excerpt: Hello World! My name is Craig.
      properties:
        excerpt:
          example: Hello World! My name is Craig.
          type: string
        language:
          example: GB
          type: string
      required:
      - excerpt
      title: Excerpt of text
      type: object
    User:
      description: Contains Email, Username, password, re-entered password and signup
        form data
      title: User object
      type: object
    LibraryRequest:
      description: Contains the grade or story selected
      title: Library Request
      type: object
    LoginInfo:
      description: Username and password
      example:
        password: hunter42
        email: user1
      properties:
        email:
          example: user1
          type: string
        password:
          example: hunter42
          type: string
      required:
      - email
      - password
      title: Login Info
      type: object
    Answer:
      description: Answer to multiple choice question
      title: Answer to multiple choice question
      type: object
    SynthesizeSpeechResponse:
      description: The message returned to the client by the `SynthesizeSpeech` method.
      example:
        audioContent: audioContent
      properties:
        audioContent:
          description: |-
            The audio data bytes encoded as specified in the request, including the
            header for encodings that are wrapped in containers (e.g. MP3, OGG_OPUS).
            For LINEAR16 audio, we include the WAV header. Note: as
            with all bytes fields, protobuffers use a pure binary representation,
            whereas JSON representations use base64.
          format: byte
          pattern: ^(?:[A-Za-z0-9+/]{4})*(?:[A-Za-z0-9+/]{2}==|[A-Za-z0-9+/]{3}=)?$
          type: string
      type: object
    GenericBody:
      description: Generic API body
      title: A generic body
      type: object
    ApiResponse:
      description: Generic API response
      title: A generic response
      type: object
